Repository snakebyte-studios/snakebyte-studios-website-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix render on home page, blogs now show up
  src/pages/blog/index.js
Due: prettier --write, eslint --fix

add blogNamePlate + hourglass, worked on slug file a lot
  package.json
  src/components/BlogNamePlate.js
  src/data/blogContent/hello-world.md
  src/pages/blog/[slug].js
  yarn.lock
Due: prettier --write, eslint --fix

fixed nameplate to display all relevent info
  src/components/BlogNamePlate.js
  src/data/blogContent/hello-world.md
  src/pages/blog/[slug].js
Due: prettier --write, eslint --fix

changed from grid to flex for blog page
  src/components/BlogNamePlate.js
  src/data/blogContent/hello-world.md
  src/pages/blog/[slug].js
Due: prettier --write, eslint --fix

added the barebones for the MoreFromAuthor comp
  src/components/MoreFromAuthor.js
  src/pages/blog/[slug].js
Due: prettier --write, eslint --fix

added better md text for preview
  src/data/blogContent/hello-world.md
  src/data/blogContent/test.md
  src/pages/blog/[slug].js
  src/pages/blog/index.js
Due: prettier --write, eslint --fix

chore: stop enforcing 'lf' line endings
  .editorconfig
  .eslintrc
  .gitattributes
Due: none

chore: gitignore 'package-lock.json' as 'yarn.lock' is the lockfile for this project
  .gitignore
Due: none

fix: homepage horizontal scroll on desktop
  src/global/styles/style.css
Due: prettier --write

add pinterest meta tag
  src/pages/index.js
Due: prettier --write, eslint --fix

fix: contact form backend
  package.json
  src/global/constants.js
  src/pages/api/hire.js
  yarn.lock
Due: prettier --write, eslint --fix

fix: npx yarn-audit-fix
  yarn.lock
Due: none

chore: update now.json to vercel.json
  now.json
  vercel.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,css,json,html}
  eslint --fix: any of: *.js
